/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
--black: rgba(0, 0, 0, 1);
--blueblack: rgba(20, 25, 34, 1);
--white: rgba(255, 255, 255, 1);
--grey: rgba(163, 163, 163, 1);
--darkgrey: rgba(40, 40, 40, 1);
--lime: rgba(173, 255, 47, 1);
--lightgrey: rgba(193, 193, 193, 1); /* --per pulsante crea playlist */
--black-overlay: rgba(8, 11, 18, 0.5);
--whitegrey-home: rgba(210, 210, 210, 1);
}

.white-txt {
    color: var(--white);
}

.grey-txt, li a {
    color: var(--grey);
}

li a:hover {
    color: var(--white);
}

.bold {
    font-weight: bold;
}

.medium-txt {
    font-size: 0.8rem;
}

.small-txt {
    font-size: 0.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* Style main */

.wrapper {
    width: 100%;
    height: 100vh;
}

.playbar {
    width: 100%;
    height: 95px;
    background-color: red;
    position: fixed;
    bottom: 0;
    z-index: 2000;
}

main {
    width: 100%;
    height: calc(100vh - 95px);
    background-color: var(--blueblack);  
    display: flex;  
}

.main-content {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: scroll;
}

aside {
    width: 230px;
    height: 100%;
    background-color: bisque;
}

/* Style top-bar */

.top-bar {
    width: 100%;
    height: 95px;
    background-color: var(--black-overlay);
    position: fixed;
    top: 0;
    z-index: 1000;
}

button {
    margin-right: 255px;
    border: 1px solid var(--white);
    background-color: transparent;
    padding: 12px 35px;
    border-radius: 40px;
}

button:hover {
    transform: scale(1.05);
}

/* Style inner-content */

.inner-content {
    height: 100%;  
    margin-top: 95px;
}

.inner-content li {
    padding-right: 1rem;
    padding-top: 1.2rem;
}

.active {
    width: 3%;
    margin-top: 5px;
    margin-left: 325px;
    height: 2px;
    background-color: var(--lime);
}

h2 {
    margin-top: 2rem;
    margin-left: 1.2rem;
    margin-bottom: 0.6rem;
}

.card {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    width: calc(100% / 6);
    cursor: pointer;
}

.card-image {
    position: relative;
}

.card-image img {
    width: 100%;
    display: block;
}

.albums {
    margin: 0 0.7rem;
}

.card-caption {
    text-align: center;
    line-height: 1.8;
    padding-top: 0.5rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
}

.card:hover .overlay {
    display: block;    
}

.card-image i {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    display: none;
}

.card:hover .card-image i {
    display: block;
}

.sub {
    margin-left: 1.2rem;
    padding-bottom: 0.6rem;
}

.rounded-pic {
    border-radius: 50%;
}

.albums:last-of-type {
   padding-bottom: 3rem;
}

/* Style aside */

.user-profile {
    height: 80px;
    background-color: blueviolet;
}

.navbar {
    height: calc(100% - 80px);
    background-color: var(--black);
}

.logo img {
    width: 60%;
}

.pad-left {
    padding-left: 1rem;
}

.pad-top {
    padding-top: 1.5rem;
}

.home img, .search img, .library img  {
    width: 8%;
}

.nav span {
    display: inline-block;
    padding-left: 0.2rem;
    vertical-align: middle;
    padding-bottom: 0.8rem;
}

.plus-square{
    margin-top: 0.8rem;
    position: relative;
}

.grey-square {
    height: 40px;
    width: 40px;
    background-color: var(--lightgrey);
    position: relative;
}

.plus {
    position: absolute;
    font-size: 2.2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.playlist.pad-top span {
    font-size: 0.9rem;
    position: absolute;
    top: 10px;
    left: 50px;
}